@import './reset.styl'
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed&display=swap');

body
	background-image linear-gradient(to right, #ddd6f3 0%, #faaca8  51%, #ddd6f3  100%)
	text-align center
	transition 0.5s
	background-size 200% auto
	color white      
         

.info__card
	width 20em
	padding 0.5em
	margin 0.5em

	font-family: 'Fira Sans Condensed', sans-serif;

	background rgba( 255, 255, 255, 0.15 )
	box-shadow 0 8px 32px 0 rgba( 31, 38, 135, 0.37 )
	backdrop-filter blur( 7.0px )
	-webkit-backdrop-filter blur( 7.0px )
	border-radius 10px
	border 1px solid rgba( 255, 255, 255, 0.18 )

.info__card_item
	display flex
	flex-direction column
	justify-content space-around
	align-items center
	height 3em
	padding 1em
	margin 1em
	border-radius 10px
	border 1px solid rgba( 255, 255, 255, 0.18 )

	span
		font-size 3em

	label
		font-size 1em
